<section>
<p>You should see browsers icons</p>
<%= image_tag("browser_firefox.gif") %>
<%= image_tag("browser_chrome.gif") %>
<%= image_tag("browser_opera.gif") %>
<%= image_tag("browser_safari.gif") %>
<%= image_tag("browser_ie.gif") %>
</section>

<section>
<p>You should see no ie6 notice under IE6</p>
<%= no_ie6_notice %>
</section>
